.layout {
  width: 100%;
  display: flex;
  @media (max-width: 1000px) or (max-height: 550px) {
    display: none;
  }
}

.sideBar {
  width: 160px;
  padding: 15px;
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  .logo {
    font-weight: bold;
    font-size: clamp(18px, 2vw, 25px);
    padding: clamp(0px, 2vw, 15px);
  }
  .nav {
    margin-top: 2dvh;
    height: 85dvh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .border {
      margin: 0px 10px;
      width: 80%;
      height: 2px;
      min-height: 2px;
      background-color: var(--border);
    }

    .navItem {
      padding: 12px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: var(--subBackground);
        transform: scale(1.05);
      }

      .navIcon {
        font-size: clamp(20px, 2vw, 27px);
      }

      .name {
        font-size: clamp(14px, 1.5vw, 16px);
        text-align: center;
        font-weight: 500;
        color: var(--foreground);
      }
    }
  }
}

@media (max-height: 550px) {
  .sideBar {
    .nav {
      height: 65dvh;
    }
  }
}

@media (min-height: 550px) and (max-height: 600px) {
  .sideBar {
    .nav {
      height: 75dvh;
    }
  }
}
