@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #2a2a2a; /* Акцент для светлой темы */
  --background: #ffffff;
  --subBackground: #ededff;
  --foreground: #171717;
	--subForeground: #b7b7b7;
  --border: #2a2a2a;
  --hover-background: #dddddd;
  --inputBackgroundColor: #252528;
	--altCreateBackgroundColor: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #313135;
    --subBackground: #4d4d5b;
    --foreground: #ededed;
    --border: #8b8b8b;
    --hover-background: #2a2a2a;
    --accent: #afa2ff; /* Акцент для темной темы */
		--altCreateBackgroundColor: #262629;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Настройка стилизации скроллбара */
*::-webkit-scrollbar {
  width: 3px; /* Ширина скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--hover-background); /* Цвет ползунка */
  border-radius: 4px; /* Скругление углов */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--border); /* Цвет ползунка при наведении */
}

*::-webkit-scrollbar-track {
  background-color: var(--subBackground); /* Цвет фона дорожки скроллбара */
  border-radius: 4px; /* Скругление углов дорожки */
}
